/* CSS Syntax
    h1 {
        color: blue;   
        font-size: 12px;
    }
    h1                      คือ Selector
    color, font-size        ตือ Property
    blue, 12px              คือ Value

    color: blue;            ตือ Declaration
 */
/* CSS Rules ans Selectors
    1. Tag, Element         div
    2. ID                   #header
    3. Class                .post
    4. Sibling              h1 + p, h1 ~ p
    5. Child                ul > li
    6. Descendant           ul li
    7. Universal            *
    8. Attribute            type="text"
    9. Pseudo-classes,      a:hover, p::first-letter
       Pseudo-element
*/
/*  1. Element Selector : <div></div> */
h1 {
  color: #1b07d3;
}
span {
  font-weight: bold;
}
a {
  color: rgb(255, 145, 0);
}
div {
  border: 1px solid salmon;
  padding: 5px;
  color: blueviolet;
}
/*  2. ID Selector : #IDName */
#heading {
  color: darkgreen;
}
#span {
  font-weight: bold;
}
#hyperlink {
  color: cadetblue;
}
#box {
  border: 1px solid black;
  padding: 5px;
  color: rgb(255, 0, 13);
}
/*  3. Class Selector : .className */
.heading {
  color: rgb(224, 133, 20);
}
.span {
  font-weight: bold;
}
.hyperlink {
  color: crimson;
}
.box {
  border: 1px solid steelblue;
  padding: 5px;
  color: black;
}
/*  Grouping Selector : div, h3, h4, h5 */
h4,
h5,
p {
  text-align: left;
  color: brown;
}
/*  4. Sibling Selector : h1 + p, h1 ~ p */
/*  เป็นการสั่งให้การแสดงผลของ CSS เป็นไปตามลำดับของ Selector */
h1 + p {
  font-size: 11px;
}
/*  5. Child Selector : ul > li */
/* เป็นเหมือนลำดับลูกของ tag แม่  */
div > h3 {
  border: 1px solid rgb(11, 184, 103);
}
ul > li {
  font-weight: bold;
  color: green;
}
/*  6. Descendant Selector : ul li */
/*  คล้าย ๆ Child Selector แต่ไม่ต้องเป็นลูกของตัวเองก็ได้ อาจเป็นญาติ
    ขอเพียงแต่มีสายเลือดเดียวกันก็พอ    
*/
/*  Child Selector */
div > p {
  font-weight: bold;
}
/*  Descendant Selector */
div p {
  font-weight: bold;
}
/*  7. Universal Selector : * */
[id*="post"] {
  font-weight: bold;
}
#article * span {
  font-weight: bold;
}
/*  8. Attribute Selector : alt="text" */
/*  เป็นการชี้แบบเจาะจงเข้าไปอีก */
img[alt="logo"] {
  border: 2px solid #000000;
}
/*  9. Pseudo-classes, Pseudo-element Selector : a:hover */
/*  ใช้กรณีพิเศษ คือ การเอาเมาท์ไปวางบนปุ่ม, การกำหนดให้ List แรกเป็นตัวหนา */
a:hover {
  color: #1b07d3;
}
